.signup-block{
    /* border: 2px solid green; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.signup-form{
    display: flex;
    flex-direction: column;
}

.signup-form input{
    height:30px;
    margin: 10px 0px 10px 0px;
}

.signup-form button{
    align-self: stretch;
    margin:0px;
}