.list-block{
    border: solid 2px blue
}

.task-block{
    border: solid 2px mediumvioletred;

    
}

.tasks-list-block{
    list-style:none;
    display:flex;
    flex-direction: column;
    width:600px;
}

